.account {
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}

.arrow {
  cursor: pointer;
  border-radius: 15px;
}
.arrow:hover {
  background-color: rgb(39, 35, 56);
  color: white;
}
